/* ************************************* */
/* HELP CSS STARTS HERE */
/* ************************************* */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    margin: 0 !important;
}

a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.container{
    max-width: 1270px;
    margin: auto;
    padding: 0 3%;
}
:root{
    --basic-color: #f8f6f8;
}

/* ************************************* */
/* HELP CSS STARTS HERE */
/* ************************************* */




/* **************************************** */
/* NAVBAR START HERE */
/* **************************************** */
.nav-bar{
    background-color: black
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    color: var(--basic-color);
}
.logo:hover{
    color: var(--basic-color);
}

nav ul li{
    display: inline-block;
    padding: 20px 0;
    
}

nav ul li a{
    padding: 10px 0;
    text-transform: capitalize;
    font-size: 18px;
    color: var(--basic-color);
    font-weight: 450;
}
nav ul li:not(:last-child){
    margin-right: 20px;
}
nav ul li a:hover{
    color: var(--basic-color);
}
.menu-icon{
    color: var(--basic-color);
    font-size: 35px;
    display: flex;
    align-items: center;
    z-index: 10001;
    cursor: pointer;
    display: none;
    padding: 12px 0;
}


/* **************************************** */
/* NAVBAR ENDS HERE */
/* **************************************** */